@font-face {
  font-family: 'Monaspace Argon';
  src: url('../fonts/monaspace/MonaspaceArgon-Bold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-BoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-ExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-ExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-ExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-ExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-Italic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-Light.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-LightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-Medium.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-MediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-Regular.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideLight.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-SemiWideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideLight.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceArgon-WideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceArgonVarVF[wght,wdth,slnt].woff');
  src: url('../fonts/monaspace/MonaspaceArgonVarVF[wght,wdth,slnt].woff2');
}

@font-face {
  font-family: 'Monaspace Krypton';
  src: url('../fonts/monaspace/MonaspaceKrypton-Bold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-BoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-ExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-ExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-ExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-ExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-Italic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-Light.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-LightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-Medium.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-MediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-Regular.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideLight.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-SemiWideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideLight.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceKrypton-WideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceKryptonVarVF[wght,wdth,slnt].woff');
  src: url('../fonts/monaspace/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2');
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('../fonts/monaspace/MonaspaceNeon-Bold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-BoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-ExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-ExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-ExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-ExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-Italic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-Light.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-LightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-Medium.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-MediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-Regular.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideLight.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-SemiWideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideLight.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceNeon-WideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceNeonVarVF[wght,wdth,slnt].woff');
  src: url('../fonts/monaspace/MonaspaceNeonVarVF[wght,wdth,slnt].woff2');
}

@font-face {
  font-family: 'Monaspace Radon';
  src: url('../fonts/monaspace/MonaspaceRadon-Bold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-BoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-ExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-ExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-ExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-ExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-Italic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-Light.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-LightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-Medium.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-MediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-Regular.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideLight.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-SemiWideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideLight.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceRadon-WideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceRadonVarVF[wght,wdth,slnt].woff');
  src: url('../fonts/monaspace/MonaspaceRadonVarVF[wght,wdth,slnt].woff2');
}

@font-face {
  font-family: 'Monaspace Xenon';
  src: url('../fonts/monaspace/MonaspaceXenon-Bold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-BoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-ExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-ExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-ExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-ExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-Italic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-Light.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-LightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-Medium.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-MediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-Regular.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideLight.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-SemiWideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideExtraBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideExtraBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideExtraLight.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideExtraLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideLight.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideLightItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideMedium.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideMediumItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideRegular.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideSemiBold.woff');
  src: url('../fonts/monaspace/MonaspaceXenon-WideSemiBoldItalic.woff');
  src: url('../fonts/monaspace/MonaspaceXenonVarVF[wght,wdth,slnt].woff');
  src: url('../fonts/monaspace/MonaspaceXenonVarVF[wght,wdth,slnt].woff2');
}
